{% extends 'base.html.twig' %}

{% block body %}

  {{ form_start(editProfileForm, {attr : {"class" : "border rounded p-2"}}) }}

  <div class="fs-3 p-2">{% trans %}profile.edit{% endtrans %}</div>

  {# <div class="p-2">
    {{ form_row(editProfileForm.email) }}
  </div> #}

  <div class="p-2">
    {{ form_row(editProfileForm.pseudo) }}
  </div>

  <div class="p-2 my-2">
    <button class="btn btn-lg btn-outline-light" type="submit">
      {% trans %}profile.save{% endtrans %}
    </button>
  </div>

  {{ form_end(editProfileForm) }}

{% endblock %}
