{% extends 'base.html.twig' %}

{% block body %}
	{% if user is defined %}
		
		<input type="hidden" id="userId" value="{{ user.id }}">	
		
		<div class="fs-3 mb-2">
			{% trans with {'%pseudo%': user.pseudo} %}profile.title{% endtrans %} :
		</div>


	{% else %}

		<input type="hidden" id="userId" value="{{ app.user.id }}">	

		<div class="mb-4">
			<div class="fs-3">{% trans with {'%pseudo%' : app.user.pseudo} %}login.loged{% endtrans %}</div>
			<span>
				<a href="{{ path('app_password_forgot') }}">
					{% trans %}password.modifypass{% endtrans %}
				</a>
			</span>
		</div>


		<div class="fs-4 mb-2">
			{% trans %}profile.yourbuild{% endtrans %} :
		</div>

	{% endif %}

		{# TODO : Afficher les build de l'user #}


{% endblock %}