{% extends "base.html.twig" %}

{% block title %}{% trans into locale %}PageTitle.BuildTitle{% endtrans %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

<h1>Build : </h1>

{% endblock %}