{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}


{% block body %}

    <div class="fs-4">{{build.name}} || {{build.id}}</div>
    <div class="fs-6">{{build.description}}</div>

{% endblock %}


