{% extends "base.html.twig" %}

{% block title %}{% trans into locale %}PageTitle.BuildTitle{% endtrans %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}


{% block body %}

    {% if build %}
            <div class="fs-4">{{build.title}} || {{build.id}}</div>
            <div class="fs-6">{{build.description}}</div>
    {% else %}
        <div class="fs-4">Impossible de trouver la build</div>
    {% endif %}

{% endblock %}


