{% extends "base.html.twig" %}

{% block title %}{% trans into locale %}PageTitle.BuildTitle{% endtrans %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

<h1>Build : </h1>

{% for build in builds %}
    <div class="fs-4"><a href="{{ path('app_builds_view', {'id': build.id}) }}">{{build.title}}, {{build.id}}</a></div>
{% endfor %}

{% endblock %}