{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
  <div class="my-3 fs-5">
    <a href="/admin/patchnote" target="_blank">Patchnote Admin Panel<img class="svg_link" src="img/arrow-up-right.svg"></a>
  </div>
{% endif %}

<h1>Patch Note : </h1>

{% endblock %}