{% extends "base.html.twig" %}

{% block title %}{% trans into locale %}PageTitle.PatchNote{% endtrans %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

<h1>Patch Note : </h1>

{% endblock %}