.popover {
    max-width: 250px;
    text-align: center;
    font-size: 110%;
}

.popover-header {
    background-color: #ffc107;
    font-weight: bold;
    color: black;
}

.popover-body {
    background-color: #555;
    color: white;
}

.accordion-button{
    background-color:#0000002e;
    border-color: black;
    color:white;

}

.accordion-button:focus, .accordion-button:not(.collapsed){
    border-color: black;
    box-shadow: none;
    color: white;
    background-color: #00000057;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    background-color: #000000ba;
}

.weaponCollapse {
	/* background-image: url('/src/img/Fond.png'); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.skill-container {
    background-position: center;
    background-size: 100%, 100%;
}

.side1{
    border-right:1px white solid; 
    padding-right: 0.5rem;
}

.side2{
    border-left: 1px white solid;
    padding-left: 0.5rem;
}

.weaponCollapse{
    display: none;
    transition: 1s;
}

.mainskillbtn, .mainskillbtn:focus {
	outline: 0;
	box-shadow: inherit;
}

.mainskillli{
    width: 100%;
}