{% extends 'base.html.twig' %}

{% block body %}
	<div class="fs-2 mb-3">
		Admin Dashboard : 
	</div>

	<ul class="fs-4">
		<li>
			<a href="{{ path('app_builds_admin') }}">Build</a>
		</li>
		<li>
			<a href="{{ path('app_builds_weapon') }}">Weapon</a>
		</li>
		<li>
			<a href="{{ path('app_patchnote_admin') }}">PatchNote</a>
		</li>
		<li>
			<a href="{{ path('app_profile_admin') }}">Profile</a>
		</li>
	</ul>
{% endblock %}
