{% extends 'base.html.twig' %}

{% block body %}

	<div class="fs-2 mb-3">Admin Dashboard</div>

	<div class="fs-4">
		<a href="{{path('app_patchnote_admin')}}">Patchnote Dashboard</a>
	</div>

{% endblock %}
