@import "~bootstrap/scss/bootstrap";

body {
  padding: 0;
  background: rgb(41, 40, 38);
  background: linear-gradient(180deg, rgba(41, 40, 38, 1) 80%, rgb(61, 54, 46) 100%);

  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.flag {
  width: 30px;
}

.discord {
  height: 30px;
}
