.categoryLabel {
  cursor: move;
}
svg {
  cursor: pointer;
}

#categorySection {
  overflow-x: scroll;
  scrollbar-width: none;
}

#categorySection::-webkit-scrollbar {
  display: none;
}

.categoryHeader {
  display: inline-block;
  white-space: nowrap;
}
