.categoryLabel,
svg {
  cursor: pointer;
}

#categorySection {
  overflow-x: scroll;
  scrollbar-width: none;
}

#categorySection::-webkit-scrollbar {
  display: none;
}

.categoryHeader {
  display: inline-block;
  white-space: nowrap;
}

.categoryMoveDiv,
.itemMoveDiv {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.item,
.itemImg {
  height: 50px;
}
