nav button {
  color: white;
  border: 1px white solid;
}

#side-1 {
  border-right: 0.5px white solid;
  padding-right: 0.5rem;
}

#side-2 {
  border-left: 0.5px white solid;
  padding-left: 0.5rem;
}

.svgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.skillLine {
  stroke: #fff;
  stroke-width: 2;
}

/** Cadre Skill */
.skill-container,
.skill-container-icon {
  background-position: center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  z-index: 10;
}

/** Progress Skill Point */
.progress {
  height: 40px;
  background-color: white;
  border: 3px white solid;
  border-radius: 0.2rem;
}

.pointProgresText {
  color: black;
  height: 100%;
}

.progress-bar {
  width: 100%;
  background-color: #ffc107;
  border-radius: 0.2rem;
}

/** Main Skill*/

.mainskillbtn::after {
  display: none !important;
}
.mainskillbtn,
.mainskillbtn:focus {
  outline: 0;
  box-shadow: inherit;
}

.mainskillul {
  width: 100%;
  max-width: inherit;
  min-width: inherit;
}
