{% extends 'base.html.twig' %}

{% block body %}
    
    {{ include('admin/_goadmin.html.twig') }}

    <div class="fs-2">Create new PatchNote</div>

    {{ include('patchnote/_form.html.twig') }}

{% endblock %}
